# Jupyter
.ipynb_checkpoints

# Vivado Files
boards/RFSoC4x2/rfsoc_offload/rfsoc_offload/
boars/RFSoC4x2/adc_to_udp.sim
boars/RFSoC4x2/adc_to_udp.sim/*
*.log
*.str
*.jou
NA/
.Xil/
*.swp
build/
boards/RFSoC4x2/rfsoc_qsfp_offload/scripts/start_capture_rx.py.bak
/rfsoc_qsfp_offload.egg-info
/rfsoc_qsfp_offload/assets
